name: Check Whitespaces

on: [push, pull_request]

jobs:
  check-whitespace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for trailing whitespace
        run: |
          if grep -RIl "[[:blank:]]$" .; then
            echo "Trailing whitespace detected!"
            exit 1
          fi
